# Final Perform

This is the final perform. This notebook is serves as a template for how you should structure your final submission. There are no autograded tests for this Perform. You should also feel free to add more cells and move sections around if you believe it will improve the cohesion of the assignment.

The data is in RateMyProfessorSampleData.zip. You will need to unzip the file to access the data files. The data is a [sample data dump from RateMyProfessor.com](https://data.mendeley.com/datasets/fvtfjyvw7d/2).

When you finish please go to Kernel --> Restart and Run All, and then double check that your notebook looks correct before saving and submitting your .ipynb file (the notebook file) on gradescope. There is no autograder for this Perform. It is entirely manually graded.

In [2]:
# Run this code cell to import relevant libraries
# Feel free to add any other libraries here or later in your notebook
# Please update to seaborn v0.11 for this assignment
# check version: print(sns.__version__)

import numpy as np
import pandas as pd
import seaborn as sns
sns.set_theme()

print(sns.__version__)

0.11.0

# Introduction

*Add text here if you would like to provide an introduction to your analysis that will add to the notebook's cohesion*

# Data Processing

This section should have all of your data loading and cleaning code where you load and create your DataFrame(s). It does not need to contain all of the data processing code if creating a new column or table in a later section makes more sense for explanation and cohesion.

In [3]:
import glob
import os

# merging the files into one dataframe
joined_files = os.path.join("RateMyProfessorSampleData", "data*.csv")
joined_list = glob.glob(joined_files)
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
                            
print(df.head())

  professor_name                             school_name  \
0    Mimi  Kline          Bucks County Community College
1  Dennis  Jones  California State University Stanislaus
2  Dennis  Jones  California State University Stanislaus
3  Dennis  Jones  California State University Stanislaus
4  Dennis  Jones  California State University Stanislaus

        department_name local_name state_name  year_since_first_review  \
0   Medicine department    Newtown         PA                      0.0
1  Chemistry department    Turlock         CA                      8.0
2  Chemistry department    Turlock         CA                      8.0
3  Chemistry department    Turlock         CA                      8.0
4  Chemistry department    Turlock         CA                      8.0

   star_rating take_again  diff_index  \
0          5.0        NaN         4.0
1          4.3        NaN         2.4
2          4.3        NaN         2.4
3          4.3        NaN         2.4
4          4.3        NaN         2.4

                                       tag_professor  ...  student_star  \
0                                                NaN  ...           5.0
1  Tough Grader (3)  Inspirational (3)  Skip clas...  ...           4.0
2  Tough Grader (3)  Inspirational (3)  Skip clas...  ...           1.0
3  Tough Grader (3)  Inspirational (3)  Skip clas...  ...           3.5
4  Tough Grader (3)  Inspirational (3)  Skip clas...  ...           2.5

  student_difficult    attence  for_credits  would_take_agains grades  \
0               4.0        NaN          NaN                NaN    NaN
1               3.0  Mandatory          Yes                Yes      A
2               4.0  Mandatory          Yes                 No      C
3               2.0  Mandatory          Yes                NaN      A
4               4.0  Mandatory          Yes                NaN      A

                                            stu_tags help_useful  \
0                                                NaN           0
1                                          RESPECTED           0
2  SKIP CLASS? YOU WON\'T PASS.  TOUGH GRADER  IN...           0
3  SKIP CLASS? YOU WON\'T PASS.  GET READY TO REA...           0
4                                       TOUGH GRADER           1

  help_not_useful                                           comments
0               0  Mimi is awesome. She is tough, but fair. She i...
1               0  Jones is the best! He does get off topic here ...
2               2  Horrible professor, but is a good guy at heart...
3               0  Pretty sweet old guy. His tests are kinda toug...
4               0  He has a deep passion for Chemistry but is a b...

[5 rows x 23 columns]

In [5]:
print(df.shape)

(19685, 23)

In [24]:
# only take into consideration the states and the average star rating of a professor 
new_df = df.drop_duplicates(subset=['professor_name'])
print(new_df.head())

   professor_name                               school_name  \
0     Mimi  Kline            Bucks County Community College
1   Dennis  Jones    California State University Stanislaus
20   Mario  Perez  Rutgers - State University of New Jersey
22   Eddie  Tapia                      Full Sail University
27       S  Saini                       CUNY Queens College

         department_name      local_name state_name  year_since_first_review  \
0    Medicine department         Newtown         PA                      0.0
1   Chemistry department         Turlock         CA                      8.0
20    History department   New Brunswick         NJ                      0.0
22    Writing department     Winter Park         FL                      6.0
27    Science department        Flushing         NY                      1.0

    star_rating take_again  diff_index  \
0           5.0        NaN         4.0
1           4.3        NaN         2.4
20          2.8        NaN         3.0
22          3.1        NaN         1.0
27          4.8        NaN         2.7

                                        tag_professor  ...  student_star  \
0                                                 NaN  ...           5.0
1   Tough Grader (3)  Inspirational (3)  Skip clas...  ...           4.0
20                                                NaN  ...           1.5
22    Skip class? You won\'t pass. (2)  Hilarious (2)  ...           3.5
27                                                NaN  ...           5.0

   student_difficult    attence  for_credits  would_take_agains grades  \
0                4.0        NaN          NaN                NaN    NaN
1                3.0  Mandatory          Yes                Yes      A
20               3.0        NaN          NaN                NaN    NaN
22               1.0  Mandatory          Yes                Yes     A+
27               2.0        NaN          NaN                NaN    NaN

                                   stu_tags help_useful help_not_useful  \
0                                       NaN           0               0
1                                 RESPECTED           0               0
20                                      NaN           0               0
22  SKIP CLASS? YOU WON\'T PASS.  HILARIOUS           0               0
27                                      NaN           0               0

                                             comments
0   Mimi is awesome. She is tough, but fair. She i...
1   Jones is the best! He does get off topic here ...
20  not a great class, at least with this professo...
22  I adore Eddie. He\'s a great teacher, very hel...
27  Probably the best professor i have had so far....

[5 rows x 23 columns]

In [25]:
new_df = new_df[['professor_name','state_name','star_rating']]

In [26]:
print(new_df)

              professor_name state_name  star_rating
0                Mimi  Kline         PA          5.0
1              Dennis  Jones         CA          4.3
20              Mario  Perez         NJ          2.8
22              Eddie  Tapia         FL          3.1
27                  S  Saini         NY          4.8
...                      ...        ...          ...
19668             Das  Panda         MD          2.3
19670       Mitchell  Graham         MD          3.8
19677         Roger  Hamrick         CA          1.0
19679        Debbie  Damiani         PA          3.3
19684  Felicia  Middlebrooks         IL          5.0

[2766 rows x 3 columns]

In [34]:
region_map = {
        'AK': 'O',
        'AL': 'S',
        'AR': 'S',
        'AS': 'O',
        'AZ': 'W',
        'CA': 'W',
        'CO': 'W',
        'CT': 'N',
        'DC': 'N',
        'DE': 'N',
        'FL': 'S',
        'GA': 'S',
        'GU': 'O',
        'HI': 'O',
        'IA': 'M',
        'ID': 'W',
        'IL': 'M',
        'IN': 'M',
        'KS': 'M',
        'KY': 'S',
        'LA': 'S',
        'MA': 'N',
        'MD': 'N',
        'ME': 'N',
        'MI': 'W',
        'MN': 'M',
        'MO': 'M',
        'MP': 'O',
        'MS': 'S',
        'MT': 'W',
        'NA': 'O',
        'NC': 'S',
        'ND': 'M',
        'NE': 'W',
        'NH': 'N',
        'NJ': 'N',
        'NM': 'W',
        'NV': 'W',
        'NY': 'N',
        'OH': 'M',
        'OK': 'S',
        'OR': 'W',
        'PA': 'N',
        'PR': 'O',
        'RI': 'N',
        'SC': 'S',
        'SD': 'M',
        'TN': 'S',
        'TX': 'S',
        'UT': 'W',
        'VA': 'S',
        'VI': 'O',
        'VT': 'N',
        'WA': 'W',
        'WI': 'M',
        'WV': 'S',
        'WY': 'W'
}

new_df['region'] = new_df['state_name'].map(region_map)

In [35]:
print(new_df.head())

   professor_name state_name  star_rating region
0     Mimi  Kline         PA          5.0    NaN
1   Dennis  Jones         CA          4.3    NaN
20   Mario  Perez         NJ          2.8    NaN
22   Eddie  Tapia         FL          3.1    NaN
27       S  Saini         NY          4.8    NaN

# Visualization

This section should contain at least one visualization showing something informative about the data. The skills you learned for this section primarily come from Module 5B.

# Hypothesis Test

This section should contain at least one hypothesis test about the data. The skills you learned for this section primarily came from Module 3B.

# Prediction

This section should contain the creation and testing of at least one model. The skills you learned for this section primarily came from Module 6.

# Additional Analysis

This section should contain one more analysis of your choosing. It can be like any of the other analysis sections.

# Conclusion

*Add text here if you want to be considered for the last few points assessing the overall cohesion of your sections and an effective concluding summary.*